<div class="top_title">
<h1>お小遣い管理アプリ</h1>
</div>
<table class ="border">
<div class="top_content">
<p>
お子さんに与えている毎月のお小遣い。<br>
「お小遣いが足りないからもっと値上げして欲しい」<br>
という要望を一度は受けたことがあるはず。<br>
これはお子さんが実際にどんな事にお金を使ってるのかを把握し<br>
無駄遣いを防止させる 事を目的として作成されたアプリである。
</p>
</div>
</table>

<div class="top_chart">
<%= pie_chart(@chart) %>
</div>
