<div class="top_title">
<h1>show money</h1>
</div>
<table class ="border">
<div class="top_content">
<p>
  普段子供が何にお金を使っているか気になったことはありませんか？<br>
  口頭の説明だけだと後で見返すことができないし、メモを残すにしても<br>
  毎回メモとして残すのは大変です。<br>
  これは子供に何にいくら使ったかを記録させて、親が後からでも見ることが<br>
  できるアプリです。<br>
  <br>
  操作方法<br>
  ①子供のアカウントを作成
  ②親のアカウントを作成
  ③親子の関係性を持たせるために親がマネジメントページへ飛び、子供のアドレスを入力する
</p>
</div>
</table>

<div class="top_chart">
  <%= pie_chart(@chart) %>
</div>
