<div class="top_content">
  <div class="top_title">
    <h1>show money</h1>
  </div>
  <div>
    普段子供が何にお金を使っているか気になったことはありませんか？<br>
    口頭の説明だけだと後で見返すことができないし、メモを残すにしても<br>
    毎回メモとして残すのは大変です。<br>
    これは子供に何にいくら使ったかを記録させて、親が後からでも見ることが<br>
    できるアプリです。<br>
    <br>
    操作方法<br>
    ①親のアカウントを作成<br>
    ②子のアカウントを作成<br>
    ③親子の関係性を持たせるために親が親子関係登録画面へ飛び子供のアドレスを入力する<br>
    ④子供は使った物などを自由に投稿することができる
  </div>
  <div class="top_chart">
    <%= pie_chart(@chart) %>
  </div>
</div>
